
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4);
  background-size: 600% 600%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.shorts-container {
  width: 1080px;
  height: 1920px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content h1, .content p {
  margin: 20px;
  padding: 0 10px;
}

#title {
  font-size: 70px;
  font-weight: bold;
  color: #ff5722;
}

#mainText {
  font-size: 50px;
  font-weight: 600;
  color: #1b5e20;
}

#subText {
  font-size: 40px;
  font-weight: 500;
  color: #004d40;
}

#ctaText {
  font-size: 50px;
  font-weight: bold;
  color: #d84315;
  margin-top: 40px;
}

.subscribe-icon img {
  width: 300px;
  margin-top: 20px;
}
